h1,
p {
  margin: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1622126128210-9eed44cfde29?q=80&w=1618&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto, sans-serif;
  height: 100vh;
}

.app-container {
  width: 80%;
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.app-title {
  text-align: center;
  color: palevioletred;
}

.app-text {
  text-align: center;
}

.url-form {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.url-input {
  font-size: 18px;
  width: 300px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 20px;
  transition-duration: 0.5s;
  transition-property: border;
}

.url-input:hover {
  border: 2px solid palevioletred;
  scale: 1.01;
}

.submit-button {
  font-size: 18px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: border color;
}

.submit-button:hover {
  color: palevioletred;
  border: 2px solid palevioletred;
  scale: 1.01;
}

.modal {
  width: 66%;
  border: 3px solid black;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.close-button {
  align-self: self-start;
  width: 30px;
  aspect-ratio: 1;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.close-button:hover {
  background-color: palevioletred;
}

.result-image {
  width: 80%;
  border-radius: 30px;
  border: 3px solid palevioletred;
}

.save-button {
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 6px;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.save-button:hover {
  background-color: palevioletred;
}

.cards-title {
  display: none;
  text-align: center;
  color: palevioletred;
  margin: 0;
}

.cards-container {
  display: flex;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 400px;
}

.card-image {
  width: 100%;
}

.delete-button {
  width: 100px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 6px;
  transition-duration: 0.5s;
  transition-property: scale color;
}

.delete-button:hover {
  color: palevioletred;
  border: 2px solid palevioletred;
  scale: 1.01;
}
